* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #161616;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

html {
    font-size: clamp(14px, 1vw, 16px);
}

@mixin flex($gap: 0) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

section {
    max-width: 1000px;
}

.c1,
.c2,
.c3 {
    max-width: 666.66px;
}

.contact {
    max-width: 2000px;
}

.grid {
    max-width: 2000px;
}


main {
    padding: 1rem;
    @include flex(0.5rem);
    justify-content: center;

    section {
        border-radius: 1.3rem;

        img {
            width: 100%;
            border-radius: 1.3rem;
        }
    }

    .view2 {
        @include flex(3.5rem);
        padding: 1.5rem;
        background-color: #1E1E1E;

        .top {
            font-size: 0.5rem;
            font-weight: 400;
        }

        .bottom {
            @include flex(1.5rem);

            h1 {
                font-size: 2.6rem;
                font-weight: 400;
            }

            p {
                color: rgb(145, 144, 144);
                font-size: 1.5rem;
                line-height: 1.5;
            }

            a {
                i {
                    background-color: #555555;
                    padding: 0.5rem;
                    border-radius: 50%;
                }

                text-decoration: none;
                color: rgb(214, 212, 212);
            }
        }
    }
}

.card {
    padding: 1rem;
    width: 100%;
    @include flex(1rem);

    .c1 {
        width: 100%;
        background-image: url(one.webp);
        background-size: cover;
        background-position: center;
        border-radius: 1.5rem;
        aspect-ratio: 1/1;
        @include flex();
        justify-content: space-between;
        padding: 0.8rem;
    }

    .c2 {
        width: 100%;
        background-image: url(two.webp);
        background-size: cover;
        background-position: center;
        border-radius: 1.5rem;
        aspect-ratio: 1/1;
        @include flex();
        justify-content: space-between;
        padding: 0.8rem;
    }

    .c3 {
        width: 100%;
        background-image: url(three.webp);
        background-size: cover;
        background-position: center;
        border-radius: 1.5rem;
        aspect-ratio: 1/1;
        @include flex();
        justify-content: space-between;
        padding: 0.8rem;
    }

    .info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid rgb(209, 209, 209);
        border-radius: 10px;
        padding: 1.3rem 1rem;
        backdrop-filter: blur(15px);

        h1 {
            font-size: 1.5rem;
            font-weight: 400;
        }

        h2 {
            font-size: 1.1rem;
            font-weight: 400;
        }
    }

    .icons {
        padding: 1rem;
        display: flex;
        justify-content: flex-end;
        gap: 1rem;

        i {
            padding: 0.9rem;
            border: 0.5px solid rgb(163, 163, 163);
            backdrop-filter: blur(50px);
            border-radius: 50px;
        }
    }
}

aside {
    padding: 2rem;

    .numbers {
        display: flex;
        justify-content: space-between;
    }

    .left {
        @include flex(2rem);
        text-align: center;

        h2 {
            color: rgb(145, 144, 144);
            font-size: 1.1rem;
            font-weight: 500;
        }

        h1 {
            font-size: 2.7rem;
            font-weight: 400;
        }
    }

    .right {
        @include flex(2rem);
        text-align: center;

        h2 {
            color: rgb(145, 144, 144);
            font-size: 1.1rem;
            font-weight: 500;
        }

        h1 {
            font-size: 2.7rem;
            font-weight: 400;
        }
    }
}

.forth {
    .top {
        h2 {
            text-transform: uppercase;
            font-size: 2rem;
            font-weight: 400;
        }
    }
}

.box1 {
    width: 100%;
    padding: 1rem;

    .contact {
        @include flex(1rem);
        align-items: center;
        background-color: #CEBD63;
        color: black;
        border-radius: 1.3rem;
        padding: 2rem;

        h2 {
            font-size: 1.2rem;
            font-weight: 500;
        }

        h1 {
            font-size: 3rem;
            font-weight: 400;
        }

        button {
            background-color: black;
            color: white;
            padding: 4vw 25vw;
            border-radius: 10px;
        }
    }
}

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 18% 100% 18%;
    grid-template-areas: "g1"
        "g2"
        "g3";
    gap: 1rem;
    padding: 1rem;

    .g1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        grid-area: g1;
        background-color: #1E1E1E;
        border-radius: 10px;
        padding: 1.5rem;

        .icons {
            display: flex;
            gap: 1rem;

            i {
                padding: 0.9rem;
                border: 0.5px solid rgb(163, 163, 163);
                backdrop-filter: blur(50px);
                border-radius: 50px;
            }
        }

        h1 {
            font-size: 1.7rem;
            font-weight: 300;
        }

    }

    .g2 {
        grid-area: g2;
        background-color: #1E1E1E;
        border-radius: 10px;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        h1 {
            font-weight: 400;
            line-height: 2.5;
        }

        h2 {
            font-size: 1.3rem;
            font-weight: 300;
            line-height: 2.5;
            transition: all 0.5s ease;
        }

        h2:hover {
            text-decoration: underline;
            cursor: pointer;
        }

        button {
            background-color: #CEBD63;
            border: none;
            outline: none;
            padding: 1rem 2rem;
            border-radius: 10px;
        }

    }



    .g3 {
        grid-area: g3;
        background-color: #1E1E1E;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        h1 {
            font-size: 1.2rem;
            text-align: center;
            font-weight: 400;
            text-transform: uppercase;
        }

        span {
            text-decoration: underline;
        }

        div {
            font-size: 1.3rem;
        }

        i {
            background-color: #555555;
            padding: 0.5rem;
            border-radius: 50%;
        }
    }
}

@media(min-width:850px) {
    main {
        flex-direction: row;
        gap: 0.8rem;

        .view1 {
            width: 50%;
        }

        .view2 {
            width: 50%;
            padding: 4rem;
            justify-content: space-between;

            .bottom {
                h1 {
                    text-transform: uppercase;
                    font-size: 4.2rem;
                }

                p {
                    font-size: 1.6rem;
                    line-height: 1.6;
                }

                .last {
                    display: flex;
                    gap: 1rem;
                }
            }
        }
    }

    .second {
        flex-direction: row-reverse;

        .para {
            display: flex;
            gap: 2vw;
        }

        .view2 {
            .bottom {
                h1 {
                    font-size: 3.5rem;
                }

                .para {
                    p {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }

    .third {

        .para {
            display: flex;
            gap: 2vw;
        }

        .view2 {
            .bottom {
                h1 {
                    font-size: 3.5rem;
                }

                .para {
                    p {
                        text-align: justify;
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }

    aside {
        .numbers {
            justify-content: center;
            gap: 15rem;
        }

        .left {
            flex-direction: row;
            gap: 15rem;

            h1 {
                font-size: 4rem;
            }
        }

        .right {
            flex-direction: row;
            gap: 15rem;

            h1 {
                font-size: 4rem;
            }
        }
    }

    .card {
        flex-direction: row;
        justify-content: center;
    }

    .forth {
        .top {
            h2 {
                text-transform: uppercase;
                font-size: 3.8rem;
                font-weight: 400;
            }
        }
    }

    .box1 {
        display: flex;
        justify-content: center;

        .contact {
            overflow: hidden;
            padding: 4rem;
            flex-direction: row;
            gap: 40rem;

            align-items: flex-end;

            h1 {
                font-size: 4.5rem;
            }

            .lower {
                width: 28rem;
            }

            button {
                padding: 1rem 4rem;
            }
        }
    }

    .grid {
        grid-template-columns: 1fr 4.5fr;
        grid-template-rows: 4fr 1fr;
        grid-template-areas: "g1 g2"
            "g1 g3";

        .g1 {
            grid-area: g1;
        }

        .g2 {
            flex-direction: row;
            justify-content: space-around;
            grid-area: g2;

            h1 {
                font-size: 1.4rem;
            }

            h2 {
                font-size: 1rem;
                line-height: 3.5;
            }
        }

        .g3 {
            grid-area: g3;
            flex-direction: row;
            justify-content: space-between;
            padding: 1rem;
        }
    }
}